.home-container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0px;
  right: 0px;
  // height: calc(100% + 10px);
  // max-height: 1014px;
  height: 80vh;
  background: linear-gradient(90deg, #8da9fc 0%, #b48dd5 100%);
}

.skills-container {
  background: linear-gradient(180deg, #eff1ff 0%, #ffffff 100%);
}
