@import './variables';
@import './base/module';
@import './pages/module';
@import './templates/module';
@import './components/module';

.left-icon:after {
  content: '->';
  display: inline-block;
  position: relative;
  margin-left: 8px;
}

.post-image .emphasized {
  width: 100% !important;
  margin: 0 !important;
}

.post-text p {
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: justify;
}

.post-quote blockquote {
  width: 100% !important;
  margin: 0 !important;
  font-size: 21px;
  padding: 0;
  margin: 18px 0px;
    text-align: justify;
}

li {
  margin-left: 0 !important;
}
