* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

.container {
  // max-width: 700px;
  margin: auto;
  @media (max-width: $max-width-md) {
    padding: 0 10px;
  }
  @media (max-width: $max-width-sm) {
    padding: 0 10px;
  }
}
