.post-header {
  .back {
    color: #9a9a9a;
    display: block;

    font-family: $font-sans-serif;
    font-size: 16px;

    &:before {
      content: '←';
      display: inline-block;
      position: relative;
      margin-right: 8px;
    }

    a {
      color: #9a9a9a;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
